<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ExamJava</display-name>
 <servlet>
 <servlet-name>InscriptionServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.InscriptionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>InscriptionServlet</servlet-name>
 <url-pattern>/register</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>ConnexionServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.ConnexionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ConnexionServlet</servlet-name>
 <url-pattern>/login</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>AdminServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.AdminServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AdminServlet</servlet-name>
 <url-pattern>/admin</url-pattern>
 </servlet-mapping>
    <servlet>
 <servlet-name>UpdateServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.UpdateServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdateServlet</servlet-name>
 <url-pattern>/update</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>SupprimerServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.SupprimerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SupprimerServlet</servlet-name>
 <url-pattern>/supprimer</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>confirmerServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.confirmerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>confirmerServlet</servlet-name>
 <url-pattern>/confirmer</url-pattern>
 </servlet-mapping>
 
      <servlet>
 <servlet-name>ClientServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.clients.ClientServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ClientServlet</servlet-name>
 <url-pattern>/client</url-pattern>
 </servlet-mapping>
      <servlet>
 <servlet-name>UpdatServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.clients.UpdatServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdatServlet</servlet-name>
 <url-pattern>/modifier</url-pattern>
 </servlet-mapping>
      <servlet>
 <servlet-name>SupprimerServ</servlet-name>
 <servlet-class>sn.lamp.servlets.clients.SupprimerServ</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SupprimerServ</servlet-name>
 <url-pattern>/delet</url-pattern>
 </servlet-mapping>
       <servlet>
 <servlet-name>confirmerServlets</servlet-name>
 <servlet-class>sn.lamp.servlets.clients.confirmerServlets</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>confirmerServlets</servlet-name>
 <url-pattern>/confirm</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>PublicationServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.clients.PublicationServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>PublicationServlet</servlet-name>
 <url-pattern>/publication</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>Deconnexion</servlet-name>
 <servlet-class>sn.lamp.servlets.Deconnexion</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Deconnexion</servlet-name>
 <url-pattern>/deconnexion</url-pattern>
 </servlet-mapping>
 <filter>
 <filter-name>ClientFilter</filter-name>
 <filter-class>sn.lamp.filter.ClientFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ClientFilter</filter-name>
  <url-pattern>/client/*</url-pattern>
 </filter-mapping>
 <filter>
 <filter-name>AdminFilter</filter-name>
 <filter-class>sn.lamp.filter.AdminFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
 </filter-mapping>
</web-app>